.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.vc-container .vc-weekday {
  color: #000;
}
.vc-pane-container {
  width: 80%;
  margin: 0 auto;
  background-color: #4caf4fd0;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.vc-day {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
  text-align: center;
  margin: 7px;
  width: 5vw; ;
  height: 5vw;
  padding: 0;
  background-size: cover;
  border-radius: 3px;
  box-shadow:
    1px 0px 0px -1px var(--shadow-color), 0px 1px 0px -1px var(--shadow-color),
    2px 1px 0px -1px var(--shadow-color), 1px 2px 0px -1px var(--shadow-color),
    3px 2px 0px -1px var(--shadow-color), 2px 3px 0px -1px var(--shadow-color),
    4px 3px 0px -1px var(--shadow-color), 3px 4px 0px -1px var(--shadow-color),
    5px 4px 0px -1px var(--shadow-color), 4px 5px 0px -1px var(--shadow-color),
    6px 5px 0px -1px var(--shadow-color), 5px 6px 0px -1px var(--shadow-color),
    7px 6px 0px -1px var(--shadow-color), 6px 7px 0px -1px var(--shadow-color),
    8px 7px 0px -1px var(--shadow-color), 7px 8px 0px -1px var(--shadow-color),
    /* side outline */
    1px 0px 0px black, 0px 1px 0px black,
    2px 1px 0px black, 1px 2px 0px black,
    3px 2px 0px black, 2px 3px 0px black,
    4px 3px 0px black, 3px 4px 0px black,
    5px 4px 0px black, 4px 5px 0px black,
    6px 5px 0px black, 5px 6px 0px black,
    7px 6px 0px black, 6px 7px 0px black,
    8px 7px 0px black, 7px 8px 0px black,
    /* bottom outline */
    9px 8px 0px black, 8px 9px 0px black;
}


@media (max-width: 768px) {
  .vc-day {
    width: 80%;
    height: auto;
    padding-bottom: 80%;
    margin: 1%;
    font-size: smaller;
  }
}

.vc-day.shake {
  background-image: url('/public/patterns/pattern0.png');
  /*important*/
  --shadow-color: #99000038;
  cursor: pointer;
  animation: shake 0.5s ease-in-out;
}

.vc-day.missing {
  background-image: url('/public/patterns/pattern0.png');
  /*important*/
  --shadow-color: #99000038;
  cursor: pointer;
}

.vc-day.filled {
  background-image: url('/public/patterns/pattern0.png');
  /*important*/
  --shadow-color: rgba(59, 125, 79, 0.219);
  cursor: pointer;
}


@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(2deg);
  }

  40% {
    transform: rotate(-2deg);
  }

  60% {
    transform: rotate(2deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.pressed {
  animation: depressShadow 0.5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes depressShadow {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(1px, 1px);

  }

  40% {
    transform: translate(2px, 2px);

  }

  60% {
    transform: translate(3px, 3px);

  }

  80% {
    transform: translate(4px, 4px);

  }


  100% {
    transform: translate(5px, 5px);
    box-shadow:
      1px 0px 0px -1px var(--shadow-color), 0px 1px 0px -1px var(--shadow-color),
      /* side outline */
      1px 0px 0px black, 0px 1px 0px black;
    /* bottom outline */
  }
}